<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ro`yhatdan o`tish</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <h1>Ro`yhatdan o`tish sahifasi</h1>
    <form action="/register" method="post">
        <input type="text" name="userName" placeholder="userName "> <br>
        <input type="email" name="email" placeholder="email manzilingiz"> <br>
        <input type="password" name="password" placeholder="parolingiz"> <br>
        <button type="submit">register</button> <br>
        <a href="/">Asosiy sahifa</a>
     </form>
</body>
</html>