h1 {
    text-align: center;
    color: blue;
}


input, button {
    display: block;
    margin: 0 auto;
}

a {
    display: block;
    text-align: center;
    margin-left: 10px;
}
a:hover {
    color: red;
}

table {
    margin: 0 auto;
}
